.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  max-width: 50vw;
  max-height: 50vh;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}
.modal__title--text {
  margin: 0;
  font-size: 1.3rem;
}
.modal__title {
  display: flex;
  justify-content: space-between;
}
