.custom-button {
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  border-radius: 0.2em;
  border: none;
  width: 100%;
}

.custom-button:hover {
  cursor: pointer;
}

.custom-button--primary {
  color: var(--primaryColor);
  background-color: var(--thirdColor);
}

.custom-button--secondary {
  color: var(--thirdColor);
  border: 1px solid var(--thirdColor);
}

.custom-button--ghost {
  color: var(--thirdColor);
  background-color: transparent;
  width: fit-content;
  height: fit-content;
}

.custom-button--ghost :hover {
  transform: scale(1.2);
}
