.home-section {
  grid-column-start: 2;
  grid-column-end: 12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .home-section {
    grid-column-start: 1;
    grid-column-end: 9;
  }
}
